workflows/01 - Ingesta de Datos.json
{
  "name": "Ingesta de Datos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7599ea5d-c24b-4bd1-b34c-ec30d78734c1",
      "name": "Schedule Trigger (Diario 6AM)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        176
      ],
      "id": "188da4d2-35ce-4ed3-8cf5-57c2f49f07d1",
      "name": "Ejecución Manual"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "productos",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        320,
        96
      ],
      "id": "2eee8cce-7a74-43e7-99e5-2e11ded4df5a",
      "name": "Get Productos",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "productos_embeddings",
          "mode": "list",
          "cachedResultName": "productos_embeddings"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        640,
        96
      ],
      "id": "e1a64df5-19cf-4fe2-a599-cee301df866c",
      "name": "Insertar Embeddings",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "nombre",
                "value": "={{ $json.nombre }}"
              },
              {
                "name": "categoria",
                "value": "={{ $json.categoria }}"
              },
              {
                "name": "precio",
                "value": "={{ $json.precio_base }}"
              },
              {
                "name": "description",
                "value": "={{ $json.nombre }} - {{ $json.categoria }} - Precio: ${{ $json.precio_base }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        320
      ],
      "id": "53df9901-a5ff-40a1-9b33-a149b4148886",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        320
      ],
      "id": "2cfa5e23-39ae-474b-8aba-ff31674a0dc8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "QotC9CxBk2uWUJib",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger (Diario 6AM)": {
      "main": [
        [
          {
            "node": "Get Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecución Manual": {
      "main": [
        [
          {
            "node": "Get Productos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Productos": {
      "main": [
        [
          {
            "node": "Insertar Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insertar Embeddings",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Insertar Embeddings",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6eec3fc2-3458-4594-8fb2-276ceb1c6060",
  "meta": {
    "instanceId": "051e5aaf6f9bdc7e896bff2bf0f4573c0f7b256ac306da081cd7285baaf9012f"
  },
  "id": "QuYxzBTvLXdkQJuZ",
  "tags": []
}