workflows/02 - Chatbot Ejecutivo.json
{
  "name": "Chatbot Ejecutivo",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -320,
        112
      ],
      "id": "f7e53dd9-cacd-4ec1-8a53-ebf045dbbf57",
      "name": "When chat message received",
      "webhookId": "0b68c262-2468-4e0f-aa56-83454653e4d8"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Sos un analista de BI experto. Tenés acceso a datos de ventas, vendedores y productos.\n\n### ANÁLISIS:\n- Siempre comparás el período actual contra el anterior (MoM).\n- Si un vendedor bajó ventas más del 20%, lo marcás como '⚠️ Alerta de Riesgo'.\n- Para proyecciones usás regresión lineal simple sobre el histórico disponible.\n- Cuando el usuario pide métricas de productos, consultás tanto la tabla productos como ventas para cruzar datos.\n\n### GRÁFICAS:\n- Cuando el análisis se beneficie de una gráfica, generás una URL de QuickChart así:\n  https://quickchart.io/chart?c={type:'bar',data:{labels:[...],datasets:[{label:'Ventas',data:[...]}]}}\n- Embebés la imagen en markdown: ![Gráfico](URL)\n- Usá type 'bar' para comparaciones, 'line' para tendencias, 'pie' para distribuciones.\n\n### REPORTES:\n- Si el usuario pide 'reporte', generás: 1) KPI Principal, 2) Gráfica QuickChart, 3) Conclusión estratégica.\n- Si el usuario pide explícitamente enviar por email, incluís exactamente la palabra 'ENVIANDO_REPORTE' al final de tu respuesta y confirmás que el correo está siendo procesado."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        0
      ],
      "id": "a2a123c1-3666-4611-bffa-c2083b2129e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        304
      ],
      "id": "0c0a5c11-75dc-475b-9483-b674466c5cf0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QotC9CxBk2uWUJib",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        304
      ],
      "id": "a189eb2f-efdb-4a28-889e-cf3df4d8012e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usala para obtener datos de ventas: fecha, monto_total, vendedor_id y producto_id. Consultala cuando el usuario pregunte por métricas de ventas, rendimiento por período, totales o comparaciones.",
        "operation": "getAll",
        "tableId": "ventas",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        208,
        512
      ],
      "id": "04f71d5f-0bb8-4f0d-84d3-1bb57ce2d5b2",
      "name": "Query Ventas",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usala para obtener los nombres y regiones de los vendedores. Consultala cuando el usuario pregunte por vendedores, su región o quiera identificar quién es quién.",
        "operation": "getAll",
        "tableId": "vendedores",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        368,
        512
      ],
      "id": "9337ae77-87ff-4f0f-80cc-a43f15fb50d8",
      "name": "Query Vendedores",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Usala para obtener el catálogo de productos: nombre, categoría y precio base. Consultala cuando el usuario pregunte por productos disponibles, precios, inventario o quiera cruzar productos con ventas.",
        "operation": "getAll",
        "tableId": "productos",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        528,
        512
      ],
      "id": "ac195e76-5789-4017-b6aa-9d346d2daade",
      "name": "Query Productos",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Usala para búsqueda semántica de productos cuando el usuario haga preguntas abiertas como 'qué producto me recomendás para gaming', 'tenés algo económico para oficina' o cualquier consulta donde necesite encontrar productos por descripción o características.",
        "tableName": {
          "__rl": true,
          "value": "productos_embeddings",
          "mode": "list",
          "cachedResultName": "productos_embeddings"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        896
      ],
      "id": "1dfae29e-6829-4421-a9bf-7462c09efe3d",
      "name": "Búsqueda Semántica Productos",
      "credentials": {
        "supabaseApi": {
          "id": "Dr1NzBFegdatrpXL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        992
      ],
      "id": "fb069160-1800-4657-9071-3f1b3be35f85",
      "name": "Embeddings Búsqueda",
      "credentials": {
        "googlePalmApi": {
          "id": "QotC9CxBk2uWUJib",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99f74ee7-cd63-4752-8f1d-1fdf34dedd8d",
              "leftValue": "={{ $json.output }}",
              "rightValue": "ENVIANDO_REPORTE",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        0
      ],
      "id": "a6c20fa7-6dcf-46a4-9397-5583180380e9",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "dbouzada@gmail.com",
        "subject": "=Análisis de BI - {{ $now.format('dd/MM/yyyy') }}",
        "message": "={{ $node[\"AI Agent\"].json[\"output\"]\n   .replace(/!\\[.*?\\]\\((.*?)\\)/g, '<img src=\"$1\" style=\"max-width:100%;border-radius:8px;margin:12px 0;\">')\n   .replace(/\\n/g, '<br>') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        0
      ],
      "id": "b1f525ef-8fdc-448a-ada3-b5c47a437f5e",
      "name": "Enviar Reporte",
      "webhookId": "c8e73072-4765-44bf-a5d2-be45bf1212cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "oSW0QGJbhlfURTkr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Query Ventas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Vendedores": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Query Productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Búsqueda Semántica Productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Búsqueda": {
      "ai_embedding": [
        [
          {
            "node": "Búsqueda Semántica Productos",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Enviar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "10eaca92-556f-41e9-9c7d-d07751043626",
  "meta": {
    "instanceId": "051e5aaf6f9bdc7e896bff2bf0f4573c0f7b256ac306da081cd7285baaf9012f"
  },
  "id": "vSRGinQ4jYUVOYOn",
  "tags": []
}